:root {
    --darkgreen: #61892F;
    --lightgreen: #86C232;
    --black: #222629;
    --darkgrey: #474B4F;
    --lightgrey: #6B6E70;
    --lightred: #ff4848;
    --darkred: #921d1d;
    --lightyellow: #e4e000;
    --darkyellow:  #a09e15;
}