h3 {
    color: var(--lightgreen);
}

#mapcontainer{
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-group {

    width: 650px;
    margin: auto;

}

#data {

    background-color: white;
    width: 300px;
    color: var(--darkgreen);

}

.col {

    border: black solid 1px;
    padding: 5px;

}